footer{
    background: #7297EF;
    width: 100%;
    margin-top: 100px;
}

.footer{
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            width: 1200px;
            height: 1px;
            bottom: 15px;
            background: #CECECE;
            border: 1px solid #CECECE;
        }
    }
    &__top__box__logo{
        display: flex;
    }
    &__top__box > p{
        width: 229px;
        margin-top: 15px;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        color: #FFFFFF;
    }
    &__top__links__list{
        display: block;
        align-items: center;
        list-style: none;
        padding-top: 63px;
        padding-bottom: 30px;
    }
    &__top__links__list__item{
        padding-top: 20px;
    }
    &__top__links__list__item > a{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        &:hover{
            color: #000;
        }
    }
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    &__bottom > h3{
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
        width: 161px;
    }
    &__bottom__links__list{
        display: flex;
        align-items: center;
        list-style: none;
    }
    &__bottom__links__list__item > a{
        text-decoration: none;
        padding-right: 28px;
    }
}